<div id="<%= dom_id todo %>">
  <div>
    <strong>Name:</strong>
    <%= todo.name %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= if todo.completed then "Completed" else "Not Completed" end %>
  </div>

</div>
