<% content_for :title, "Editing todo" %>

<h1>Editing</h1>

<%= render "form_edit_completed", todo: @todo %>

<br>

<div>
  <%= link_to "Show", @todo %> |
  <%= link_to "Back to List", todos_path %>
</div>
